/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	padding: 1em 0;
	background-image: url(../img/footer_bg.jpg);
	margin-top: 13.6em;

	&__content {
		@extend .container_center;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
