/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 2em 0;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 20;
	transition: 0.1s;

	&__content {
		@extend .container_center;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		
	}
	
	&__right {
		display: flex;
		align-items: center;
	}
	@media (min-width: $break_sm) {
		&__right {
			display: flex;
			justify-content: space-between;
			width: 60%;
		}
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em 0;
	background: #1B3149;
	box-shadow: 0 0.6em 0.6em rgb(0 0 0 / 10%);
	animation: showStyky 0.5s;
}

.navbar__open {
  overflow: hidden;
}

.logo {
	display: block;
	position: relative;
	z-index: 51;
	img {
		display: block;
		width: 14em;
	}
}

@keyframes showStyky{
	0% { 
		transform:translateY(-100%);
	}
	to {
		transform:translateY(0)
	}
}
