.lang {
  &__trigger {
    display: flex;
    align-items: center;
    transition: 0.3s;
    svg {
      display: none;
    }
  }
  &__drop {
    
  }
  &__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  @media (min-width: $break_sm + 1) {
    position: relative;
    &__trigger {
      padding: 0.8em 1.3em 0.8em;
			border-radius: 0.4em;
			position: relative;
      cursor: pointer;
      user-select: none;
      svg {
        display: block;
        margin-left: 0.5em;
        fill: #fff;
        transition: 0.3s;
      }
    }
    &__drop {
      min-width: 100%;
      padding-top: 0.3em;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(0,10px);
      transition: 0.3s;
    }
    &__list {
      background-color: $color_secondary;
      padding: 0.4em 0.6em;
      border-radius: 0.4em;
      li {
        margin: 0.5em;
        a {
          padding: 0.1em;
          opacity: 0.7;
          border-bottom: 0.1em solid transparent;
          white-space: nowrap;
          &:hover {
            opacity: 1;
            border-color: $color_primary;
          }
        }
      }
    }
    &:hover {
      .lang__trigger {
			  background-color: $color_secondary;
      }
      .lang__drop {
        visibility: visible;
        opacity: 1;
        transform: translate(0,0);
      }
    }
  }
  @media (max-width: $break_sm) {
    display: flex;
    margin: 1.5em 0;
    &__drop {
      .lang__list {
        display: flex;
        li {
          margin-left: 0.5em;
        }
      }
    }
  }
}