/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
	}

	&__link {
		color: #fff;
		text-decoration: none;
	}

	&__toggle {
		display: none;
	}
	@media (min-width: $break_sm + 1) {
		display: flex;
		margin-left: -2em;
		&__item {
			margin-left: 2em;
			position: relative;
			&:hover {
				.navbar__link {
					background-color: $color_secondary;
				}
				.navbar__drop {
					visibility: visible;
					opacity: 1;
					transform: translate(0,0);
				}
			}
		}
		&__link {
			display: block;
			background: transparent;
			position: relative;
			font-size: 1em;
			padding: 0.8em 1.3em 0.8em;
			border-radius: 0.4em;
		}
		&__drop {
			padding-top: 0.3em;
			visibility: hidden;
			opacity: 0;
			transform: translate(0,10px);
			position: absolute;
			left: 0;
			top: 100%;
			transition: 0.3s;
		}
	}
	@media (max-width: $break_sm) {
		flex-grow: 1;
		overflow-y: auto;
		&__item {
			margin: 0.5em 0;
		}
		&__toggle {
			display: block;
			position: relative;
			color: #fff;
			border-top: 0.15em solid;
			border-bottom: 0.15em solid;
			width: 2em;
			height: 1.5em;
			cursor: pointer;
			z-index: 51;
			transition: border-color 0.3s;

			&:after,
			&:before {
				content: '';
				position: absolute;
				border-top: 0.15em solid;
				width: 100%;
				left: 0;
				top: 50%;
				margin-top: -0.1em;
				transition: transform 0.3s;
			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&:hover {
				// color: rgba($color_withe, .8);
			}
		}
		&__drop {
			.lang__list {
				font-size: 0.9em;
				padding: 0.3em 0.5em;
				li {
					margin: 0.2em 0;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.nav {
		display: flex;
		flex-direction: column;
		position: fixed;
		left: -800px;
		top: 0;
		bottom: 0;
		background-color: $color_withe;
		width: 100%;
		z-index: 10;
		overflow: hidden;
		padding: 5em 1em 2em;
		transition: left 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);
		background-color: $color_secondary;

		&.open {
			left: 0;
		}
	}
}
