.opportunities {
  padding: 4.2em 0 20em;
  position: relative;
  color: #fff;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #191B27;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
  .container_center {
    position: relative;
    z-index: 2;
  }
  &__item {
    margin-bottom: 3em;
    &--1 {
      transform: translate(0,0);
      .opportunities__col {
        &:nth-child(1) {
          order: 1;
        }
      }
      .opportunities__img {
        img {
          width: auto;
          max-width: 100%;
          transform: translate(0,0);
        }
      }
    }
    &--2 {
      transform: translate(0,0);
      .opportunities__img {
        img {
          width: auto;
          max-width: 100%;
          transform: translate(0,0);
        }
      }
    }
    &--3 {
      transform: translate(0,0);
      .opportunities__col {
        &:nth-child(1) {
          order: 1;
        }
      }
      .opportunities__img {
        img {
          width: auto;
          max-width: 100%;
          transform: translate(0,0);
        }
      }
    }
    .btn {
      width: 15em;
        padding: 1.45em 1em;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -1.875em;
  }
  &__col {
    width: 100%;
    padding-left: 1.875em;
  }
  &__content {
    width: auto;
  }
  &__title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.8em;
  }
  &__text {
    margin-bottom: 2em;
  }
  &__img {
    width: 15em;
    margin-bottom: 2em;
    img {

    }
  }
  @media (min-width: $break_sm + 1) {
    &__col {
      width: 50%;
    }
    &__title {
      font-size: 2.625em;
    }
    &__item {
      margin-bottom: 0;
      &--1 {
        transform: translate(0, -9em);
        .opportunities__col {
          &:nth-child(1) {
            order: unset;
          }
        }
        .opportunities__img {
          img {
            width: 50em;
            max-width: none;
            transform: translate(3em, 0);
          }
        }
      }
      &--2 {
        transform: translate(0,-13em);
        .opportunities__img {
          img {
            width: 42em;
            max-width: none;
            transform: translate(0,3em);
          }
        }
      }
      &--3 {
        transform: translate(0,-10em);
        .opportunities__col {
          &:nth-child(1) {
            order: unset;
          }
        }
        .opportunities__img {
          img {
            width: 40em;
            max-width: none;
            transform: translate(7em,-6em);
          }
        }
      }
    }
    &__content {
      width: 42.5em;
    }
    &__text {
      margin-bottom: 2.9375em;
    }
    &__img {
      width: auto;
      margin-bottom: none;
    }
  }
}