footer.footer
    // callback
    .callback
       .container_center 
            .callback__container
                form(action="#").callback__form
                    .title Остались вопросы?
                    .callback__text Напишите нам и мы постараемся максимально быстро вам помочь и проконсультировать.
                    .callback__row 
                        .callback__col1 
                            .callback__formrow
                                .input 
                                    .input__input 
                                        input(type="text" placeholder="Ваше имя")
                                .input 
                                    .input__input 
                                        input(type="text" placeholder="Ваша почта")
                        .callback__col2 
                            .textarea 
                                textarea(placeholder="Ваш вопрос")
                        .callback__col1 
                            button(type="submit").btn.btn--big Отправить
                        .callback__col2
                            .callback__policy Нажимая кнопку “Отправить” вы соглашаетесь с 
                                a(href="#") политикой конфендициальности
                                |  и на обработку ваших персональных данных
                .callback__social 
                    .callback__social-title 
                        span Другие каналы для связи с нами
                    .callback__social-items 
                        .callback__social-row
                            a(href="#") Чат на сайте
                            a(href="#") support@proxy.market
                            a(href="#") Telegram
                            a(href="#") Вконтакте
                            a(href="#") Facebook
                            a(href="#") Instagram

    //	/callback
    .footer__content
