header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.png", alt="alt")
        nav.header__right
            .nav
                ul.navbar
                    each navLink in [{name: 'Инструменты', href: ''},{name: 'Информация', href: ''},{name: 'Компания', href: ''}]
                        li.navbar__item
                            a.navbar__link(href= navLink.href)= navLink.name
            .lang 
                .lang__trigger Ru
                .lang__drop En
                    ul.lang__list 
                        li 
                            a(href="#") 
            .btn Войти
            .navbar__toggle
