mixin news-item(img)
    // news-item 
    a(href="#").news-item 
        .news-item__img 
            img(src=img , alt="")
        .news-item__date 8 марта 2022
        .news-item__title Как правильно настроить VPN на домашнем компьютере?
        .news-item__text С Data Collector мы можем делегировать наши усилия по сбору информации с веб-сайтов ....
    //	/news-item 