extends layout/layout.pug

block content
    
    // forpartners
    .forpartners
        .container_center

            .forpartners__bg
                img(src="img/partners_bg.jpg", alt="")

            // breadcrambs 
            .breadcrambs 
                ul.breadcrambs__list
                    li 
                        a(href="#") Главная
                    li 
                        span Партнерам
            //	/breadcrambs 
            
            .forpartners__title Партнерам
            .forpartners__text Кому может быть интересна наша партнерская программа?
            .forpartners__row 
                .forpartners__col 
                    .forpartners__item Владельцам или менеджерам сервисов/программ связанных с автоматизацией или упрощением работы вебмастеров: сео, смм, ррс.
                .forpartners__col 
                    .forpartners__item Владельцу канала в Telegram.
                .forpartners__col 
                    .forpartners__item Владельцу канала на Youtube.
                .forpartners__col 
                    .forpartners__item Владельцам блога, форума, рейтингового сайта.
                .forpartners__col 
                    .forpartners__item Организаторам онлайн/оффлайн мероприятий.
                .forpartners__col 
                    .forpartners__item Владельцу группы или паблика Вконтакте.
    //	/forpartners

    // earn
    .earn
        .container_center
            .earn__row 
                .earn__col 
                    .title Как можно зарабатывать на нашей партнерской программе?
                    .earn__img 
                        img(src="img/earn.png", alt="")
                .earn__col 
                    ul.advantages__list 
                        li 
                            span.advantages__icon
                                img(src="img/roow_polygon.svg", alt="")
                            | Делиться с друзьями, знакомыми, партнерами своей партнерской ссылкой в менеджерах и с помощью электронной почты.

                        li 
                            span.advantages__icon
                                img(src="img/link_polygon.svg", alt="")
                            | Размещать ссылки или баннеры на своем сайте, блоге, форуме.
                        li 
                            span.advantages__icon
                                img(src="img/triangle_polygon.svg", alt="")
                            | Делится ссылкой в социальных сетях.
                        li 
                            span.advantages__icon
                                img(src="img/play_polygon.svg", alt="")
                            | Использовать ссылку под видео обзорами.
                        li 
                            span.advantages__icon
                                img(src="img/list_polygon.svg", alt="")
                            | Размещать ссылку в подписи на форумах.
                        li 
                            span.advantages__icon
                                img(src="img/star_polygon.svg", alt="")
                            | Размещать ссылки или баннеры на обзорах, рейтинговых площадках.
                        li 
                            span.advantages__icon
                                img(src="img/quote_polygon.svg", alt="")
                            | Делится ссылкой в комментариях к видео, статьям и т.п.
    //	/earn

        