extends layout/layout.pug

block content
    
    // forpartners
    .forpartners
        .container_center

            .forpartners__bg
                img(src="img/partners_bg.jpg", alt="")

            // breadcrambs 
            .breadcrambs 
                ul.breadcrambs__list
                    li 
                        a(href="#") Главная
                    li 
                        span Партнерам
            //	/breadcrambs 
            
            .forpartners__title Партнерам
            .forpartners__text Кому может быть интересна наша партнерская программа?
            .forpartners__row 
                .forpartners__col 
                    .forpartners__item Владельцам или менеджерам сервисов/программ связанных с автоматизацией или упрощением работы вебмастеров: сео, смм, ррс.
                .forpartners__col 
                    .forpartners__item Владельцу канала в Telegram.
                .forpartners__col 
                    .forpartners__item Владельцу канала на Youtube.
                .forpartners__col 
                    .forpartners__item Владельцам блога, форума, рейтингового сайта.
                .forpartners__col 
                    .forpartners__item Организаторам онлайн/оффлайн мероприятий.
                .forpartners__col 
                    .forpartners__item Владельцу группы или паблика Вконтакте.
    //	/forpartners

    // earn
    .earn
        .container_center
            .earn__row 
                .earn__col 
                    .title Как можно зарабатывать на нашей партнерской программе?
                    .earn__img 
                        img(src="img/earn.png", alt="")
                .earn__col 
                    ul.advantages__list 
                        li 
                            span.advantages__icon
                                img(src="img/roow_polygon.svg", alt="")
                            | Делиться с друзьями, знакомыми, партнерами своей партнерской ссылкой в менеджерах и с помощью электронной почты.

                        li 
                            span.advantages__icon
                                img(src="img/link_polygon.svg", alt="")
                            | Размещать ссылки или баннеры на своем сайте, блоге, форуме.
                        li 
                            span.advantages__icon
                                img(src="img/triangle_polygon.svg", alt="")
                            | Делится ссылкой в социальных сетях.
                        li 
                            span.advantages__icon
                                img(src="img/play_polygon.svg", alt="")
                            | Использовать ссылку под видео обзорами.
                        li 
                            span.advantages__icon
                                img(src="img/list_polygon.svg", alt="")
                            | Размещать ссылку в подписи на форумах.
                        li 
                            span.advantages__icon
                                img(src="img/star_polygon.svg", alt="")
                            | Размещать ссылки или баннеры на обзорах, рейтинговых площадках.
                        li 
                            span.advantages__icon
                                img(src="img/quote_polygon.svg", alt="")
                            | Делится ссылкой в комментариях к видео, статьям и т.п.
    //	/earn

    // terms
    .terms
        .terms__bg 
            img(src="img/terms_bg.jpg", alt="")
        .container_center 
            .terms__row 
                .terms__col1 
                    .title Условия
                    .terms__block 
                        .terms__title Использование наших прокси запрещено для:
                        ul.terms__list 
                            li Регистрация «фейк» аккаунтов для получения партнерских выплат.
                            li Спам (не только по почте, но и на форумах, блогах, сайтах) и любые другие действия, которые могут повлиять на бан IP-адреса (BlockList.de, StopForumSpam и др.).
                            li Распространять вредоносное ПО (Трояны, майнеры, вирусы разных типов и пр.).
                            li Искать «уязвимости» или взламывать сайты.
                            li Осуществлять брутфорсинг.
                            li Распространять чужую интеллектуальную собственность без ведома правообладателя (видео- и аудиофайлы, программное обеспечение, игры и пр.).
                            li Создавать фишинговые сайты.
                            li Скачивать материалы посредством торрент-клиентов (uTorrent, BitLord и т.п.).
                    .terms__block 
                        .terms__title Мы не сотрудничаем с клиентами, сайты и (или) форумы которых:
                        ul.terms__list 
                            li Намеренно вводят посетителей в заблуждение.
                            li Распространяют или пропагандируют создание и использование вредоносного программного обеспечения (это могут быть майнеры, читы для игр, Трояны, вирусы и пр.) или пиратские копии интеллектуальной с обственности (игр, фильмов, музыки и пр.).
                            li Выкладывают материалы порнографического или оскорбительного содержания.
                            li Несут политический характер: пропаганда и т.д.

                .terms__col2
                    .terms__img 
                        img(src="img/terms.png", alt="")
                    .terms__quote 
                        span !
                        | При нарушении условий, аккаунты будут блокироваться, а прокси отключаться без объяснений причин.
    //	/terms

    // banners
    .banners
        .container_center
            .title Рекламные материалы
            .banners__body
                .banners__menu 
                    ul.banners__list 
                        li 
                            a(href="#").active Amazon
                        li 
                            a(href="#") Avito
                        li 
                            a(href="#") Ebay
                        li 
                            a(href="#") Facebook
                        li 
                            a(href="#") Instagram
                        li 
                            a(href="#") KeyCollector
                        li 
                            a(href="#") Одноклассники
                        li 
                            a(href="#") OLX
                        li 
                            a(href="#") Twitter
                        li 
                            a(href="#") VK
                        li 
                            a(href="#") YouTube
                        li 
                            a(href="#") Букмекеры
                        li 
                            a(href="#") Общие
                .banners__content 
                    form(action="#").banners__sort 
                        .banners__sort-title Размер баннера
                        .banners__sort-row 
                            .banners__sort-item 
                                input#sort_0(type="radio" name="sort" checked)
                                label(for="sort_0") 
                                    span.banners__sort-radio 
                                    | 300 х 250
                            .banners__sort-item 
                                input#sort_1(type="radio" name="sort")
                                label(for="sort_1") 
                                    span.banners__sort-radio 
                                    | 468 х 60
                            .banners__sort-item 
                                input#sort_2(type="radio" name="sort")
                                label(for="sort_2") 
                                    span.banners__sort-radio 
                                    | 728 х 90

                    .banners__items 
                        .banners__row 
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
                            .banners__col 
                                .banners__item 
                                    a(href="#").banners__img 
                                        img(src="img/banner.jpg", alt="")
                                    a(href="#").banners__link Показать код
    //	/banners

        