extends layout/layout_inner.pug

block content
    .page_container
        // breadcrambs 
        .breadcrambs 
            .container_center
                ul.breadcrambs__list
                    li 
                        a(href="#") Главная
                    li 
                        span FAQ
        //	/breadcrambs 

        // faq
        .faq
            .container_center
                .title FAQ
                .faq__row 
                    .faq__big 

                        form(action="#").faq__search 
                            .input.input--white
                                .input__input 
                                    input(type="text" placeholder="Введите ваш запрос")
                            .btn Поиск

                .faq__row 
                    .faq__big 
                        .accordion 
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_0")
                                    .accordion__title Я оплатил, как скоро я получу прокси?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_0")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_1")
                                    .accordion__title Как совершить настройку прокси?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_1")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_2")
                                    .accordion__title Прокси продаются в одни руки?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_2")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_3")
                                    .accordion__title Эти прокси использовались до меня?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_3")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_4")
                                    .accordion__title Как часто вы обновляете ваши прокси?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_4")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_5")
                                    .accordion__title Скидки на срок оплаты и количество прокси суммируются?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_5")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_6")
                                    .accordion__title Если я оплачиваю прокси на несколько месяцев, могу ли я менять их?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_6")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_7")
                                    .accordion__title Могу ли я заменить прокси в течении оплаченного периода?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_7")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_8")
                                    .accordion__title Каким способом я могу совершить оплату?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_8")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_9")
                                    .accordion__title Смогу ли я оплатить уже используемые адреса на дополнительный срок?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_9")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_10")
                                    .accordion__title Как продлить прокси?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_10")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_11")
                                    .accordion__title На сайте предоставлено два вида прокси, в чем разница между ними? Какие подойдут для меня?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_11")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_12")
                                    .accordion__title Почему такая разница в цене между IPv4 и IPv6?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_12")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                            .accordion__item 
                                .accordion__trigger(data-trigger="item_13")
                                    .accordion__title В чем принципиальная разница между вашим прокси сервисом и другими подобными?
                                        svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8559 0.236568C12.5271 -0.0788559 11.9939 -0.078856 11.6651 0.236568L6.64682 5.05006L1.62857 0.236567C1.29973 -0.0788569 0.766574 -0.078857 0.437732 0.236567C0.10889 0.55199 0.10889 1.06339 0.437732 1.37882L6.0514 6.76343C6.38024 7.07886 6.9134 7.07886 7.24224 6.76343L12.8559 1.37882C13.1847 1.06339 13.1847 0.551991 12.8559 0.236568Z")
                                .accordion__body(data-body="item_13")
                                    .accordion__text На нашем сайте предоставлены исключительно индивидуальные прокси. Используя их вы можете не беспокоиться о действиях "соседа", которые могут привести к плачевным последствиям
                                    
                    .faq__small

                        .faq__additional 
                            .faq__additional-title 
                                p Не нашли ответа на свой вопрос? 
                                p Задайте его здесь.
                            .btn.btn--big Написать в поддержку

        //	/faq