extends layout/layout_inner.pug
include layout/news_item.pug

block content
    .page_container
        // breadcrambs 
        .breadcrambs 
            .container_center
                ul.breadcrambs__list
                    li 
                        a(href="#") Главная
                    li 
                        a(href="#") FAQ
                    li 
                        span Как правильно настроить VPN на домашнем компьютере?
        //	/breadcrambs 

        // post
        .post
            .container_center
                .post__row 
                    .post__content
                        .title Как правильно настроить VPN  на домашнем компьютере?
                        .post__textblock 
                            img(src="img/post.jpg", alt="")
                            p Что делать, если именно на этом ресурсе размещена нужная вам информация? Рассказываем, как настроить VPN дома и в офисе на различных устройствах, чтобы получить доступ к заблокированным сайтам.
                            p VPN – это технология, которая обеспечивает одно или несколько сетевых соединений поверх первого соединения, таким образом скрывая оригинальный источник сигнала. Например, вы находитесь в Украине, а ваш сигнал идет из Германии. Эта технология используется теми, кто хочет утаить реальное местоположение своего устройства, с которого совершается выход в Интернет, или же выходить в Интернет по защищенному каналу, обезопасив себя от хищения данных. Настройка VPN для компьютера или смартфона не очень сложна, но требует совершения ряда действий, а также некоторых компьютерных знаний.
                            h2 Как настроить VPN на Windows 10
                            p Для использования VPN-соединения на Windows 10 нужно сначала настроить и сконфигурировать его как отдельное сетевое подключение. Но тут все просто:
                            ul 
                                li нажмите комбинацию клавиш [Win]+ [S] и найдите через поиск VPN;
                                li «Изменить виртуальные частные сети (VPN);
                                li «Добавить VPN-соединение»;
                                li введите данные VPN-соединения: в графе «Поставщик услуг VPN» укажите «Windows (встроенные)», и придумайте название подключения;
                                li в графе «Имя сервера» укажите данные подключения вашего провайдера или сети, которые можно узнать, зарегистрировавшись на сайте выбранного поставщика VPN;
                                li в разделе «Имя пользователя» и «Пароль» введите свои регистрационные данные;
                                li нажмите «Сохранить».
                            h2 Как настроить VPN на Android
                            p На смартфоне с операционной системой Android подключить VPN сложнее, чем на ПК или ноутбуке. Но если вы будете следовать приложенной ниже инструкции, то справитесь без проблем.
                            p 
                                b Порядок действий для настройки соединения PPTP и L2TP таков:
                            ol
                                li зайдите в настройки телефона;
                                li зайдите в «Беспроводные сети»;
                                li откройте «Еще»;
                                li выберите «Виртуальная сеть»;
                                li нажмите «Добавить сеть»;
                                li определите подключение – PPTP или L2TP.;
                                li если хотите подключить PPTP, в открывшемся меню укажите название сети, тип подключения (PPTP) и адрес сервера (IP-адрес или доменное имя MyQnapCloud);
                                li если хотите подключить L2TP ,помимо названия сети, типа подключения (L2TP/ IPSec PSK) и адреса сервера (указанный выше), введите также установленный на сервере общий ключ IPSec;
                                li запустите соединение, введите учетные данные и нажмите «Подключиться».
                            p Также приводим инструкцию по подключению к OpenVPN-серверу.
                            blockquote На смартфонах с ОС Android нет приложения для подключения к OpenVPN-серверу по умолчанию, поэтому его нужно сначала скачать из Google Play Market. Приложение называется OpenVPN for Android.
                            p После установки приложения на телефон запустите его и нажмите на «Импорт» в верхнем правом углу (иконка с открытой папкой), после чего выберите ранее скачанный файл конфигурации VPN с расширением «OVPN». Сохраните сертификат, нажав на кнопку в виде дискеты в правом нижнем углу экрана. Запустите подключение, укажите свой логин и пароль пользователя, зарегистрированного на сервере поставщика услуги, и нажмите на «ОК». Если все правильно, вы увидите на экране лог подключения к серверу, а в панели уведомлений отобразится ярлык подключения, которым можно воспользоваться для просмотра сведений о подключении.
                        .post__bottom 
                            .post__social 
                                .post__social-title Поделиться:
                                .social-icons__row 
                                    a(href="#").social-icons__link 
                                        //- img(src="img/fb_circle.svg", alt="")
                                        svg(viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M27 13.5C27 6.04462 20.9562 0 13.5 0C6.04379 0 0 6.04462 0 13.5C0 20.9562 6.04369 27 13.5 27C20.9562 27 27 20.9563 27 13.5ZM17 8.66429H15.2007C14.7163 8.66429 14.3761 9.07557 14.3761 9.58834V10.3924H16.9458L16.5297 13.0025H14.3752V19.999H11.7452V13.0025H10V10.3924H11.7452V9.06153H11.7504C11.7967 7.54426 12.322 6.09966 14.8849 6.00864V5.99902H17V8.66429Z")
                                    a(href="#").social-icons__link 
                                        //- img(src="img/vk_circle.svg", alt="")
                                        svg(viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M19.4553 15.7089C18.3436 14.6454 18.2642 14.6454 19.2171 13.4182C20.4082 11.8637 21.9964 9.90021 20.567 9.90021H17.9465C17.4701 9.90021 17.3907 10.2275 17.2318 10.6365C16.5966 12.191 15.326 14.2363 14.8496 13.9091C14.3731 13.5818 14.6113 12.3546 14.6113 10.3911C14.6907 10.1456 14.6113 9.90021 14.4525 9.73658C14.2937 9.57296 14.0555 9.40933 13.8172 9.40933C13.4202 9.32752 13.0231 9.24571 12.6261 9.24571C11.1173 9.24571 10.085 9.90021 10.6409 9.98202C11.6732 10.1456 11.5938 12.4364 11.3555 13.4182C10.9585 15.1363 9.37031 12.1092 8.65563 10.5547C8.57622 10.1456 8.25858 9.90021 7.86153 9.90021H5.79689C5.47925 9.90021 5.24102 9.98202 5.24102 10.2275C5.24102 10.6365 7.22626 14.6454 9.05267 16.6907C10.8791 18.6542 12.7055 18.4906 13.9761 18.4906C14.1349 18.4906 14.2937 18.4088 14.3731 18.327C14.4525 18.2452 14.5319 18.0815 14.5319 17.9179C14.5319 16.6089 15.0084 15.9544 15.8819 16.8543C16.8348 17.8361 17.073 18.4906 18.2642 18.4906H20.4082C20.9641 18.4906 21.1229 18.327 21.1229 18.0815C21.2023 17.5088 20.2494 16.4453 19.4553 15.7089ZM13.8172 0.000819519C21.2023 0.164446 27.0786 6.30043 26.9992 13.7454C26.9198 21.1904 20.8053 27.081 13.4202 26.9992C5.95571 26.9173 0 20.945 0 13.5C0.0794094 5.97318 6.27334 -0.0809936 13.8172 0.000819519Z")
                                    a(href="#").social-icons__link 
                                        //- img(src="img/insta_circle.svg", alt="")
                                        svg(viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M26.9992 13.7454C27.0786 6.30043 21.2023 0.164446 13.8172 0.000819518C6.27334 -0.0809936 0.0794094 5.97318 0 13.5C0 20.945 5.95571 26.9173 13.4202 26.9992C20.8053 27.081 26.9198 21.1904 26.9992 13.7454ZM10.7386 6.13636H16.2614C18.8027 6.13636 20.8636 8.19726 20.8636 10.7386V16.2614C20.8636 18.8027 18.8027 20.8636 16.2614 20.8636H10.7386C8.19726 20.8636 6.13636 18.8027 6.13636 16.2614V10.7386C6.13636 8.19726 8.19726 6.13636 10.7386 6.13636Z")
                                            path(d="M17.1818 13.5C17.1818 15.5334 15.5334 17.1818 13.5 17.1818C11.4666 17.1818 9.81818 15.5334 9.81818 13.5C9.81818 11.4666 11.4666 9.81818 13.5 9.81818C15.5334 9.81818 17.1818 11.4666 17.1818 13.5Z")
                                            path(d="M18.4091 9.20454C18.4091 9.54345 18.1344 9.81818 17.7955 9.81818C17.4566 9.81818 17.1818 9.54345 17.1818 9.20454C17.1818 8.86564 17.4566 8.59091 17.7955 8.59091C18.1344 8.59091 18.4091 8.86564 18.4091 9.20454Z")
                                    a(href="#").social-icons__link 
                                        //- img(src="img/telegram_circle.svg", alt="")
                                        svg(viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M13.5 27C20.9558 27 27 20.9558 27 13.5C27 6.04416 20.9558 0 13.5 0C6.04416 0 0 6.04416 0 13.5C0 20.9558 6.04416 27 13.5 27ZM8.74948 14.2851L5.328 13.1231C4.89944 12.9776 4.88793 12.3757 5.31059 12.2138L18.7842 7.05444C19.3812 6.82581 19.9929 7.35262 19.8554 7.97693L17.4452 18.9207C17.3446 19.3777 16.8043 19.5768 16.4312 19.2943L12.9697 16.6739L11.0762 18.5359C10.9039 18.7053 10.6135 18.5711 10.6309 18.33L10.8596 15.161L17.0093 9.50051C17.1109 9.40703 16.9902 9.24711 16.8725 9.31913L8.74948 14.2851Z")
                    .post__aside
                        // articles
                        .articles
                            .articles__title Другие статьи из блога
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как правильно настроить VPN на домашнем компьютере?
                                .articles__text С Data Collector мы можем делегировать наши усилия по сбору информации с веб-сайтов ....
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как настроить VPN на Windows 10
                                .articles__text Для использования VPN-соединения на Windows 10 нужно сначала настроить и сконфигурировать его как отдельное сетевое подключение. 
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как правильно настроить VPN на домашнем компьютере?
                                .articles__text С Data Collector мы можем делегировать наши усилия по сбору информации с веб-сайтов ....
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как настроить VPN на Windows 10
                                .articles__text Для использования VPN-соединения на Windows 10 нужно сначала настроить и сконфигурировать его как отдельное сетевое подключение. 
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как правильно настроить VPN на домашнем компьютере?
                                .articles__text С Data Collector мы можем делегировать наши усилия по сбору информации с веб-сайтов ....
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как настроить VPN на Windows 10
                                .articles__text Для использования VPN-соединения на Windows 10 нужно сначала настроить и сконфигурировать его как отдельное сетевое подключение. 
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как правильно настроить VPN на домашнем компьютере?
                                .articles__text С Data Collector мы можем делегировать наши усилия по сбору информации с веб-сайтов ....
                            .articles__item 
                                .articles__date 8 марта 2022
                                .articles__subtitle Как настроить VPN на Windows 10
                                .articles__text Для использования VPN-соединения на Windows 10 нужно сначала настроить и сконфигурировать его как отдельное сетевое подключение. 
                                
                        //	/articles
        //	/post

        